.data {
  .table {
    &-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 15px;
    }
  
    // border: solid 1px black;
    padding: 5px;
  
    &_header {
      display: flex;
      justify-content: center;
      font-weight: 800;
      text-transform: capitalize;
      cursor: pointer;
    }
    &_col-header {
      display: flex;
      justify-content: space-evenly;
      font-weight: 600;
      text-transform: capitalize;
    }
    &_worker {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      border-bottom: solid 1px black;
  
      &-name {
        text-transform: capitalize;
        margin-left: 10px;
      }
      &-antal {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  
}
