.admin {
  .opret {
    margin-bottom: 10px;

    .medarbejder {
      margin-bottom: 20px;

      &_header {
        font-weight: 600;
      }
      &_button{
        margin-left: 10px;
      }
      &_dropdown {
        margin-left: 10px;
      }

    }

    .afdeling {
      &_header {
        font-weight: 600;
      }
      &_button{
        margin-left: 10px;
      }
    }
  }
  .delete{
    display:flex;
    flex-direction: column;
    width: 35%;

    &_field{
      margin-bottom: 5px;
    }
    &_header{
      font-weight: 600;
    }
    &_button{
      font-weight: 600;
    }
  }
}
