.home{
&-container{
}

	.tlf{
		&-container{
			display: flex;
			flex-direction: column;
			align-items: center
		}
		&_udvalgte{
			font-weight: 600;
		}

		&_button{
			width: 20%;
		}
	}
	.syg{
		&-container{
			margin-top: 15px;
			display: flex;
	align-items: center;
	justify-content: center;

		}

		&_textarea{
			margin-left: 15px;
			resize: none;
		}
	}
}